@page
@model AdventureWorksWeb.Pages.IndexModel
@{
    ViewData["title"] = "Bienvenido a Adventure Works";
}

<div class="jumbotron">
    <h1 class="display-3">Bienvenidos a las web de Adventure Works</h1>
    <p>Hola Mundo</p>
</div>

